<!-- <button type="button" (click)="login()">Login</button> -->

<div class="login-content">
  <div class="login-content-left">
    <img class="login-content-img-bg" src="../../../assets/image/bg1.jpg">

  </div>
  <div class="login-content-right">

    <div class="right-login-form">
      <md-toolbar color="primary">
        <span>Welcome</span>
      </md-toolbar>

      <p class="login-p-input">
        <md-input placeholder="User"></md-input>
      </p>

      <p class="login-p-input">
        <md-input placeholder="Password"></md-input>
      </p>
      <p class="login-p-button" align="right">
        <button md-raised-button color="accent">Login</button>
      </p>
    </div>

    <div class="right-login-footer">

    </div>

  </div>



</div>



